<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stage Cliiink</title>
    <link rel="stylesheet" href="../static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="../static/slick/slick.css">
    <link rel="stylesheet" href="../static/slick/slick-theme.css">
    <link rel="stylesheet" href="../static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../static/css2/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css2/templatemo-style.css" />
    <!--
    The Town
    https://templatemo.com/tm-525-the-town
    -->
  </head>

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Analyse des données du projet CLIIINK2</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
  </head>
  <body>    
    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">Analyse des données du projet CLIIINK2</h2>
      </div>
    </div>

    <div class="tm-next tm-intro-next">
      <a href="#introduction" class="text-center tm-down-arrow-link">
        <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
      </a>
    </div>
  </section>

  <section id="introduction" class="tm-section-pad-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="tm-text-primary mb-4 tm-section-title text-center">Analyse des données du projet CLIIINK2</h2>
          <embed class="col-xl-9 col-lg-10 " height="433" src="../static/img/charts/collecte_ville.html">
        </div>

      </div>
      <div class="col-lg-12">
        <div class="tm-intro-text-container">

          <p class="mb-4 tm-intro-text">
           Sollicitation des bacs à verre avec le dispositif CLIIINK en fonction du nombre d'habitants par ville
			<ul>
				<li>Ce diagramme à berre met rapidement en évidence le niveau de performance des villes de l'agglomération 
				en matière de sollicitation des bacs à verre avec le dispositif CLIIINK. </li>
				<li>En comparant les données de la ville de Le Cannet avec celles de Mandelieu-La-Napoule et de Mougins, 
				nous remarquons que la ville de Le Cannet n'est pas aussi efficace au niveau de la collecte.</li>
				<li>Une revalorisation du positionnement des bacs à verre pour la ville de Le Cannet permettrait éventuellement
				un recyclage plus volumineux et efficace du fait de la démographie de la ville.</li>
			</ul>
			<br/>
          </p>
            <div class="tm-next">
            </div>
          </div>
        </div>

        <div class="row tm-section-pad-top">
          <div class="col-lg-6">
            <h4 class="text-center tm-text-primary mb-4">Collecte des bacs à verre par ville en fonction du nombre d'habitants</h4>
            <div class="w-100">
          <embed class="col-xl-19 col-lg-10 " height="433" src="../static/img/charts/collecte_pop_parville.html">
            </div>
            <!-- <i class="fas fa-4x fa-bus text-center tm-icon"></i> -->

            <p>
             Population Le Cannet/Mandelieu-La-Napoule : 85,339 % plus élevé par rapport à la ville de Mandelieu-La-Napoule<br/>
             Poids des collectes de la ville de Le Cannet par rapport à Mandelieu-La-Napoule : 7,113 % de fois inférieur<br/>
             Résultat : 85,339 % d’habitants de plus produisent 7,113 % fois moins de recyclage de verre.<br/><br/>
             
             Population Le Cannet/Mougins : 90,511 % d’habitants de plus par rapport à la ville de Mougins<br/>
             Poids des collectes de la ville de Le Cannet par rapport à Mougins : 40,774 % de fois supérieur<br/>
             Résultat: Deux fois plus d'habitants produisent seulement 40% de recyclage de plus
             </p>
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0">
            <h4 class="text-center tm-text-primary mb-4">Collecte des bacs à verre par ville en fonction des entreprises ayant pour secteur d'activité 'Hébergement et Restauration'</h4>
            <div class="w-100">
          <embed class="col-xl-19 col-lg-10 " height="433" src="../static/img/charts/collecte_pop_hr_nuage3.html">
            </div>
            <!--<i class="fas fa-4x fa-bicycle text-center tm-icon"></i>-->

            <p>
            Nombre d'entreprises ayant 'Hébergement et Restauration' comme secteur d'activité à Mougins : 219<br/>
            Nombre d'entreprises ayant 'Hébergement et Restauration' comme secteur d'activité à Le Cannet : 217<br/>
            Nombre d'entreprises ayant 'Hébergement et Restauration' comme secteur d'activité à Mandelieu-La-Napoule : 272<br/>
            Résultat : 0,921 % d’entreprises de plus à Mougins par rapport à Le Cannet<br/>
            Résultat : 19,482 % d’entreprises de moins à Mougins par rapport à Mandelieu-La-Napoule<br/><br/>
            
            Conclusion1 : 28,964 % de collecte de moins à Mougins par rapport à Le Cannet (pour 0,921 % d’entreprises en plus)<br/>
        	Conclusion2 : 34,017 % de collecte de moins par rapport à Mandelieu-La-Napoule (qui compte 19,482 % d’entreprises de plus).<br/>
            </p>
          </div>
        </div>
      </section>

      <!-- Analyse Verre -->
      <section id="verre" class="tm-section-pad-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="tm-text-primary mb-4 tm-section-title text-center">Retranscription des catégories socio-professionnelles,
              du nombre d'habitants et que du poids des collectes par ville</h2>
              <embed class="col-xl-19 col-lg-10 " height="433" src="../static/img/charts/csp_parv_ville.png">
              <embed class="col-xl-19 col-lg-10 " height="433" src="../static/img/charts/collecte_pop3d_parville.html">
            </div>

          </div>
          <div class="col-lg-12">
            <div class="tm-intro-text-container">
				<ul>
					Ces deux graphiques mettent en avant la domination de la ville de Cannes, aussi bien au niveau démographique 
					qu'au niveau des différentes catégories sociales et du volume des collectes<br/><br/>
					<li>Poids des collectes de la ville de Cannes : 7 468 078kg (63 499 habitants)</li><br/>
					<li>Poids des collectes de la ville de Le Cannet : 2 196 647kg (35 902 habitants)</li><br/>
					<li>Poids des collectes de la ville de Mandelieu-La-Napoule : 2 364 881kg (19 371 habitants)</li><br/>
					<li>Poids des collectes de la ville de Cannes : 1 560 397kg (16 212 habitants)</li>
				</ul>
                </div>
              </div>
            </div>

            <div class="row tm-section-pad-top">
              <div class="col-lg-6">
                <h4 class="text-center tm-text-primary mb-4">Catégories socio-professionnelles et tranches d'âge par ville</h4>
                <div class="w-100">
                  <embed class="col-xl-19 col-lg-10 " height="433" src="../static/img/charts/tranche_age_csp_pop.html">
                </div>
                <!-- <i class="fas fa-4x fa-bus text-center tm-icon"></i> -->

                <p>
                  Ce graphique donne une idée générale des catégories socio-professionnelles, classées par tranches d'âge, 
                  qui dominent parmis les cinq villes de l'agglomération.<br/>
				  L'indication des tranches d'âge permettrait d'établir une étude des catégories sociales par ville les plus 
				  sensibles aux recyclages de verre.<br/>
				  Cette analyse permettrait d'indiquer à l'agglomération si une zone spécifique devrait être privilégiée. Une ville 
				  où la moyenne des 25-54 ans (tranche d'âge la plus sensible au recyclage) est plus élévés devrait éventuellement 
				  avoir plus de bacs à verre.
                </p>
              </div>

              <div class="col-lg-6 mt-5 mt-lg-0">
                <h4 class="text-center tm-text-primary mb-4">Répartition du nombre de collectes de verre par ville en 2020 (de janvier à septembre)</h4>
                <div class="w-100">
                  <img src="img/nbCollectesVerreparVille2020Pie.png" alt="Image" width="auto" height="330px" class="mx-auto d-block"/>
                </div>
                <!--<i class="fas fa-4x fa-bicycle text-center tm-icon"></i>-->

                <p>
                 Mougins, Mandelieu-la-Napoule et Le Cannet ont leur part de collectes légèrement augmenté<br/>
                 Au contraire, elle a diminué pour Cannes et Théoule-sur-mer
                </p>
              </div>
            </div>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row contact-bg">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">A propos de nous</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5">
                     Découvrez les profils des codeurs de ce projet
                </p>
            </div>
            
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:0100200340" class="tm-contact-item-link">
                  <i class="fab fa-3x fa-github mr-4"></i>
                  <a href="https://github.com/LucaPelliccioli"><span class="mb-0 text-light">Luca Pelliccioli</span></a>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:0100200340" class="tm-contact-item-link">
                  <i class="fab fa-3x fa-github mr-4"></i>
                  <a href="https://github.com/fernandes-stephane"><span class="mb-0 text-light">Stéphane FERNANDES</span></a>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a class="text-light" href="https://github.com/PAWTOSKI" target="_blank">
                <i class="fab fa-3x fa-github mr-4"></i>
                <span class="mb-0">Wilfried Pawtowski</span></a>
              </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:0100200340" class="tm-contact-item-link">
                  <i class="fab fa-3x fa-github mr-4"></i>
                  <a href="https://github.com/antjacquemin"><span class="mb-0 text-light">Debolina Paul</span></a>
              </a>              
            </div>
            </div>
          </div>
          <footer class="text-center small tm-footer">
            <p class="mb-0">
              Copyright &copy; 2021
            </p>
          </footer>
        </section>
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="slick/slick.min.js"></script>
        <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.singlePageNav.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>

        function getOffSet(){
          var _offset = 450;
          var windowHeight = window.innerHeight;

          if(windowHeight > 500) {
            _offset = 400;
          }
          if(windowHeight > 680) {
            _offset = 300
          }
          if(windowHeight > 830) {
            _offset = 210;
          }

          return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object){
          var offset = getOffSet();
          var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
          $object.css({"background-position" : bg_css });
        }

        // Parallax function
        // Adapted based on https://codepen.io/roborich/pen/wpAsm
        var background_image_parallax = function($object, multiplier, forceSet){
          multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
          multiplier = 1 - multiplier;
          var $doc = $(document);
          // $object.css({"background-attatchment" : "fixed"});

          if(forceSet) {
            setParallaxPosition($doc, multiplier, $object);
          } else {
            $(window).scroll(function(){
              setParallaxPosition($doc, multiplier, $object);
            });
          }
        };

        var background_image_parallax_2 = function($object, multiplier){
          multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
          multiplier = 1 - multiplier;
          var $doc = $(document);
          $object.css({"background-attachment" : "fixed"});
          $(window).scroll(function(){
            var firstTop = $object.offset().top,
            pos = $(window).scrollTop(),
            yPos = Math.round((multiplier * (firstTop - pos)) - 186);

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          });
        };

        $(function(){
          // Hero Section - Background Parallax
          background_image_parallax($(".tm-parallax"), 0.30, false);
          background_image_parallax_2($("#contact"), 0.80);

          // Handle window resize
          window.addEventListener('resize', function(){
            background_image_parallax($(".tm-parallax"), 0.30, true);
          }, true);

          // Detect window scroll and update navbar
          $(window).scroll(function(e){
            if($(document).scrollTop() > 120) {
              $('.tm-navbar').addClass("scroll");
            } else {
              $('.tm-navbar').removeClass("scroll");
            }
          });

          // Close mobile menu after click
          $('#tmNav a').on('click', function(){
            $('.navbar-collapse').removeClass('show');
          })

          // Scroll to corresponding section with animation
          $('#tmNav').singlePageNav();

          // Add smooth scrolling to all links
          // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
          $("a").on('click', function(event) {
            if (this.hash !== "") {
              event.preventDefault();
              var hash = this.hash;

              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 400, function(){
                window.location.hash = hash;
              });
            } // End if
          });

          // Pop up
          $('.tm-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: { enabled: true }
          });

          // Gallery
          $('.tm-gallery').slick({
            dots: true,
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 2,
            responsive: [
              {
                breakpoint: 1199,
                settings: {
                  slidesToShow: 4,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 767,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
            ]
          });
        });
        </script>
      </body>
      </html>