<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/vendore/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/vendore/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="../static/vendore/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/vendore/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/vendore/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="../static/vendore/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../static/css/util.css">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!--===============================================================================================-->
	</head>


	<body>


		<!--
		<h1>Hello mec</h1>


		<form method="post">
	   		<p>
	       		<label for="pseudo">Votre pseudo :</label>
	       		<input type="text" name="username" placeholder="Pseudo" />
		       
		       <br />
		       <label for="pass">Votre mot de passe :</label>
		       <input type="password" name="password" placeholder="mot de passe"/>

		        <div class="form-example">
					<input type="submit" value="Subscribe!">
				</div>
					       
	   		</p>
		</form>
	-->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>


					<div for="pseudo" class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Pseudo"></span>
					</div>

					<div for="pass" class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="mot de passe"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-20">
						<span class="txt1">
							Back
						</span>

						<a class="txt2" href="{{url_for('home')}}">
							Sign Up
						</a>
					</div>






				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendore/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendore/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendore/bootstrap/js/popper.js"></script>
	<script src="../static/vendore/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendore/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendore/daterangepicker/moment.min.js"></script>
	<script src="../static/vendore/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendore/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/jss/main.js"></script>












	</body>
</html>