<!DOCTYPE html>
<html lang="fr">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/splide-2.4.21/dist/css/splide.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>


  <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-light-grey w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Connect</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>


  <!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">



  <div class=" w3-display-container w3-center">
    <img src="../static/img/84618657_2509660395960039_8299982818725855232_n.jpeg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    <!--<h3>{% block title %}{% endblock %}</h3>-->
      <p><b></b></p>    
    </div>
  </div>


    <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Projet CLIIINK2</h2>
    <p class="w3-opacity"><i>Simplon en partenariat avec l'agglométation Cannes Pays de Lérins</i></p>
    <p class="w3-justify">Le projet CLIIINK2 est une étude complémentaire au premier projet présenté à l'agglomération. 
      Cette nouvelle étude vise à apporter davantage d'éléments afin que des décisions plus ciblées puissent être prises.<br>
    
    <br>L'objectif de cette application est d'analyser le rendement du dispositif au sein de l'agglomération. Celle-ci encourage 
    le recyclage en utilisant la participation collective. Un partenariat entre l'agglomération et CLIIINK a débuté en 2017. 
    Le dispositif CLIIINK consiste à placer des balise IoT sur les bacs pour le dépôts des déchets en verre, en incitant les 
    usagers à recycler davantage. Pour chaque dépôt, un point est comptabilisé par l'application CLIIINK, que l'utilisateur va 
    ensuite pouvoir réutiliser au sein des commerces de proximité, prenant eux aussi part à ce projet. Ainsi, l'agglomération 
    cherche à déployer une politique écologique, tout en dynamisant l'économie locale.<br>
  
    <br>Notre étude vise à analyser les critères socio-démographiques des cinq villes de l'agglomération: Cannes, Le Cannet, 
    Mandelieu-La-Napoule Mougins et Théoule-sur-Mer. Pour cela, nous avons regroupé les données de l'INSEE référençant 
    différents critères sociaux (population, catégories logement, secteur d'activité des entreprises, tranche d'âge et catégories 
    socio-professionnelles). Nous les avons associés aux données CLIIINK faisant référence aux collectes établies de 2017 à 2020 
    dans les cinq villes.<br>
    
    <br>L'application se présente sur deux pages. La première présente les données publiques de l'INSEE. La seconde met en valeur 
    les résultats de l'étude menée lors du projet CLIIINK2 à travers une représentation graphique des données socio-démographiques 
    et des collectes.  
    









      

      <!-- Splide Section -->
    <div class="splide w3-container w3-content w3-center w3-padding-64"
    data-splide='{"autoplay":"true",
    "rewind":"true",
    "speed":"5000",
    "rewindSpeed":"5000",
    "height":"500px",
    "pauseOnHover":"false",
    "pauseOnFocus":"false",
    "arrows":"false",
    "gap":"10%",
    "autoWidth":"true",
    "autoHeigth":"true",
    "padding":
    {"left":"5%","right":"7%"}
    }'>
      <div class="splide__track">
        <ul class="splide__list">

            <!-- -->
          <div class="splide__slide">
      			<embed type="text/html" src="../static/img/jupyter-graph_2.html" width="600" height="550">
          </div> 

            <!-- -->
          <div class="splide__slide">
      			<embed type="text/html" src="../static/img/jupyter-graph_3.html" width="600" height="550">
          </div>

            <!-- -->
          <div class="splide__slide">
      			<embed type="text/html" src="../static/img/jupyter-graph_4.html" width="600" height="550">
          </div>

        </ul>
      </div>
    </div>
  </div>



  <!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../static/splide-2.4.21/dist/js/splide.min.js"></script>
<script>
  new Splide( '.splide' ).mount();
</script>
</body>
</html>